/******************************************************************************
 * Footer
 ******************************************************************************/
.tl-footer {
    padding: 4rem 0 2rem;
    background-color: var(--first-color-second);

    .tl-footer-title,
    .tl-footer-item-link,
    .tl-footer-social-icon {
        color: rgba(255, 255, 255, 0.9);
        transition: all 0.3s ease;

        &.tl-nav-menu-item-link-active {
            color: var(--first-color-alt);
        }
    }

    .tl-footer-content {
        display: grid;
        gap: 2rem;

        &.tl-container {
            margin: 0;
            padding: 0 1rem;
        }

        .tl-footer-title {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 0;

            p {
                font-size: 1.5rem;
                font-weight: 600;
                margin: 0;
            }

            .tl-footer-social-icon-list {
                display: flex;
                gap: 1.25rem;

                a {
                    transition: transform 0.3s ease;

                    &:hover {
                        transform: translateY(-3px);

                        .tl-footer-social-icon {
                            color: var(--first-color-alt);
                        }
                    }
                }

                .tl-footer-social-icon {
                    font-size: 1.5rem;
                }
            }
        }

        .tl-footer-item-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 0;
            padding: 0;

            li {
                transition: transform 0.3s ease;

                &:hover {
                    transform: translateX(5px);
                }
            }

            .tl-footer-item-link {
                font-size: 1rem;

                &:hover {
                    color: var(--first-color-alt);
                }
            }
        }
    }

    .tl-footer-copy-right {
        font-size: var(--smaller-font-size);
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
        margin-top: 3rem;
        padding-top: 2rem;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/* Scroll up button and social links */
.tl-scroll-up {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: #333;
    opacity: 0.8;
    padding: 0.5rem;
    z-index: var(--z-tooltip);
    transition: all 0.3s ease;

    &:hover {
        opacity: 1;
        transform: translateY(-3px);
    }

    &.tl-show-scroll {
        bottom: 1rem;
    }

    .tl-scroll-up-icon {
        font-size: 1.25rem;
        color: #FFF;
    }
}

.tl-social-linkedin,
.tl-social-github {
    display: none;
}

@media screen and (min-width: 768px) {

    .tl-social-linkedin,
    .tl-social-github {
        display: flex;
        position: fixed;
        right: 1rem;
        padding: 0.5rem;
        background-color: #333;
        opacity: 0.8;
        z-index: var(--z-tooltip);
        transition: all 0.3s ease;

        &:hover {
            opacity: 1;
            transform: translateY(-3px);

            .tl-social-icon {
                color: #FFF;
            }
        }

        .tl-social-icon {
            color: #FFF;
            font-size: 1.25rem;
            transition: 0.3s;
        }
    }

    .tl-social-linkedin {
        bottom: calc(50% - 2rem);
    }

    .tl-social-github {
        bottom: calc(50% + 2rem);
    }

    .tl-footer {
        .tl-footer-content {
            padding: 0 3rem;
            grid-template-columns: 1fr auto;
            align-items: center;

            .tl-footer-item-list {
                flex-direction: row;
                gap: 2.5rem;
            }
        }
    }
}

/* Responsive Styles */
@media screen and (min-width: 568px) {
    .tl-footer-content {
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
    }
}

@media screen and (min-width: 1024px) {
    .tl-footer .tl-footer-content {
        padding: 0;
        max-width: 1200px;
        margin: 0 auto;
    }
}